<div class="signupBox">
<mat-card>
  <form [formGroup]="signupForm">
<mat-form-field appearance="fill">
  <mat-label>Username</mat-label>
  <input matInput type="text" formControlName="email">
  <mat-error *ngIf = "signupForm.hasError('required' , 'email')">Please enter a valid email</mat-error>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Password</mat-label>
  <input matInput type="password" formControlName="password">
  <mat-error *ngIf = "signupForm.hasError('required' , 'password')">Please enter password</mat-error>
</mat-form-field>
<button color="primary" mat-raised-button (click)="signup()" *ngIf="!isLoading">Signup</button>
</form>
<mat-spinner *ngIf="isLoading"></mat-spinner>
</mat-card>
</div>
